<!doctype html>
    <html>
        <head>
            <title>{{title}}</title>
            <style>
                .error{
                    color: red;
                }

                ul {
                    list-style-type: none;
                }

                #center {
                    text-align: center;
                }
            </style>
    
        </head>
        <body>
            <div>
                <table>
                    <tbody>
                        <tr>
                    
                    <td><a href='index.html'>Main Blog Page</a></td>
                    <td><a href='blogPage.html'>Add a Blog Entry</a></td>
                   
                        
                   
                        </tr>
                    </tbody>
                </table>
            </div>

            {% with messages = get_flashed_messages(with_categories=True) %}
                <ul>
                {% for category,messages in messages %}
                    <li class="{{category}}">{{messages}}</li>
                {% endfor %}
            </ul>
            {% endwith %}
                {% block content %}
                {% endblock %}

        </body>

    </html>
            
