{% extends "base.html"  %}


{%  block content  %}
<form method= 'POST',>
<table>
    <tbody>
        <tr>
           
            <td>
                <label for="btitle">Title for new blog</label>
            </td>
        </tr>
        <tr>
            <td>
              
                    <input name="btitle" type="text">
            
            </td>
        </tr>   

        <tr>
               
            <td>
                    
                <lable for="body">Your new blog Post</lable>
            </td>
        </tr>
        <tr>
            <td>
           
                    <textarea name="body"> 

                    </textarea>
               
            </td>
          
        </tr>
        <tr>
           
            <td>
                <input type='submit' value='Add Entry'>
            </td>
           
        </tr>
    </tbody>
</table>
</form>


                                {% for word in btitle %}  
              
                <ul>
                        <li>
                                <h1>{{word.title}}</h1>
                                <p>{{word.body}}</p><br>
                                
                        </li>
                </ul>
                {% endfor %}
                               
                
           
            

        
    


{% endblock %}