{% extends "base.html"  %}


{%  block content  %}
<form action='newpost'method= 'POST'>
<table>
    <tbody>
        <tr>
           
            <td>
                <label>Title for new blog</label>
            </td>
        </tr>
        <tr>
            <td>
              
                    <input name="blogtitle" type="text" value='{{blogtitle}}'>
            
            </td>
         <tr>  
                <td class='error'>{{titleError}}</td>
        </tr> 
        </tr>   

        <tr>
               
            <td>
                    
                <label>Your new blog Post</label>
            </td>
        </tr>
        <tr>
            <td>
           
                <textarea type ="text" value='{{blogpost}}' name='blogpost' class='resize'></textarea>
         
            </td> 
        </tr> 
        <tr>
            <td class='error'>{{bodyError}}</td>
        </tr>
        <tr>
           
            <td>
                <input type='submit' value='Add Entry'>
            </td>
           
        </tr>
    </tbody>
</table>
</form>


    


{% endblock %}